.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.no-underline {
    text-decoration: none;
}

.list-non {
    list-style-type: none;
}

.px-5 {
    padding-right: 1.25rem;
    padding-left: 5px;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-span2 {
    grid-column: span 2 / span 2;
}


